{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Post{% endblock %}

{% block app_content %}
{% include 'post.html' %}
<h4 id="comments">Comments</h4>
<div class="comment-form">
	{{ wtf.quick_form(form) }}
</div>
{% for comment in comments %}
    {% include 'comment.html' %}
{% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer comments
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older comments <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
