    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=comment.author.username) }}">
					{% if comment.author.avatar %}
					<img width="70" height="70" src="../{{ comment.author.avatar }}" />
					{% else %}
                    <img src="{{ comment.author.gavatar(70) }}" />
					{% endif %}
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=comment.author.username) }}">
                    {{ comment.author.username }}
                </a>
                said {{ moment(post.timestamp).fromNow() }}:
                <br>
                {{ comment.body }}
            </td>
        </tr>
    </table>
