    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                said {{ moment(post.timestamp).fromNow() }}:
                <br>
                {{ post.body }}
				<br><br>
				{% if not post.voter.count()==1 %} 
				<div align="right">
					{{ post.voter.count() }} persons like this blog.
				</div>
				{% else %}
				<div align="right">
					{{ post.voter.count() }} person like this blog.
				</div>
				{% endif %}
				<div align="right">
				{% if not current_user.is_voting(post) %}
					<a href="{{ url_for('vote', id=post.id) }}">
						<span class="label label-success">
							Like
						</span>
					</a>
				{% else %}
					<a href="{{ url_for('unvote', id=post.id) }}">
						<span class="label label-warning">
							Dislike
						</span>
					</a>
				{% endif %}
				&ensp;
					<a href="{{ url_for('post', id=post.id) }}">
						<span class="label label-primary">
							{{ post.comments.count() }} Comments
						</span>
					</a>
				&ensp;
				{% if post.author.id == current_user.id %}
					<a href="{{ url_for('delete', id=post.id) }}">
						<span class="label label-danger">
							Delete
						</span>
					</a>
				{% endif %}
				</div>
            </td>
        </tr>
    </table>
